<form method="POST" action="/cryptids">
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">

    <label for="cryptidImageURL">Image URL</label>
    <input id="cryptidImageURL" type="text" name="img_url">

    <input type="submit" value="Submit New Cryptid">
</form>