<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dinosaurs or something</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
        <%- include ('partials/nav') %>
        
        <main>
            <%- body %>
        </main>
</body>
</html>