<!DOCTYPE html>
<html>
	<head>
		<title>Fossils and Imaginary Critters</title>
		<link rel="stylesheet" href="/main.css">
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/dinosaurs">Dinosaurs</a></li>
				<li><a href="/cryptids">Cryptids</a></li>
			</ul>
		</nav>
		<main>
			<div class="content">
			<%- body %>
			</div>
		</main>
		<footer><p class="footer">Copyright old coder</p></footer>
	</body>
</html>