<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dinos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/dinosaurs'>View All Dinosaurs</a></li>
            <li><a href='/dinosaurs/new'>Add New Dinosaur</a></li>
            <li><a href='/cryptids'>View All Cryptids</a></li>
            <li><a href='/cryptids/new'>Add New Cryptid</a></li>
        </ul>
    </nav>
    <%- body %>
</body>
</html>