<form method="POST" action="/cryptids">
    <label for="cryptidImgUrl">Img Url</label>
    <input id="cryptidImgUrl" type="text" name="img_url">
  
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
  
    <input type="submit">
</form>