<h2>Create a cryptid!</h2>

<form method="POST" action="/cryptids">
  <label for="cryptidImg">Image URL</label>
  <input type="text" name="img_url">

  <label for="cryptidName">Name</label>
  <input id="cryptidName" type="text" name="name">

  <input id="cryptidImg" type="submit">
</form>