<h1> Lets create a Cryptids! </h1>


<form method="POST" action="/cryptids">

  <label for="cryptidsName">Name</label>
  <input id="cryptidsName" type="text" name="name">

 <label for="cryptidsImage">Image Url</label>
  <input type="text" name="type">

  <input id="cryptidsImage" type="submit">
</form>