<h2>ADD A NEW CRYPTID</h2>

<form method="POST" action="/cryptids">
	<label for="cryptidType">Type</label>
	<input id="cryptidType" type="text" name="type">
  
	<label for="cryptidName">Name</label>
	<input id="cryptidName" type="text" name="name">
  
	<input type="submit">
</form>