<h1>Let's create a cryptid.</h1>

<form method="POST" action="/cryptids">

  <label for="cryptidName">Name</label>
  <input id="cryptidName" type="text" name="name">

  <label for="cryptidURL">Image URL</label>
  <input id="cryptidURL" type="text" name="image_url">

  <input id="cryptid" type="submit">
</form>

