<form method="POST" action="/cryptids">
    <label for="cryptidType">Type</label>
    <input id="cryptidType" type="text" name="type">
  
    <label for="cryptidImg">Image URL</label>
    <input id="cryptidImg" type="text" name="img_URL">
  
    <input type="submit">
  </form>