<form method="POST" action="/cryptids">
    <label for="cryptidType">Type</label>
    <input id="dinosaurType" type="text" name="type">
  
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
  
    <input type="submit">
  </form>
