<form action="/prehistoric_creatures/<%= myIndex %>?_method=PUT" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" id="creatureType" name="type" value="<%= myCreature.type %>">

    <label for="imageURL">URL to Image</label>
    <input type="url" id="imageURL" name="img_url" value="<%= myCreature.img_url %>">

    <input type="submit" value="Update Creature">
</form>