<ul>
    <% myCreatures.forEach((creature, i) => { %>
        <li>
            <a href='prehistoric_creatures/<%=i%>'><%= creature.type %></a>
            <div>
                <img height="70px" alt="<%= creature.type %>" src="<%= creature.img_url %>"></creature.img_url>
            </div>
        </li>
    <% }) %>
</ul>