<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input id="creatureType" type="text" name="type">

    <label for="creatureImg">Link to Img</label>
    <input id="creatureImg" type="url" name="img_url">

    <input type="submit">
</form>