<form action="/prehistoric_creatures" method="POST">
    <label for="creature_type">Type</label>
    <input id="creature_type" type="text" name="type"> 

    <label for="creature_img">Image URL:</label>
    <input id="creature_img" type="url" name="img_url"> 

    <input type="submit" value="add a creature">
</form>