@import 'resets.css';


body {
    width: 100%;
    text-align: center;
}

nav {
    background-color: rebeccapurple;
    font-size: 36px;
    color: white;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: hotpink;
}

main {
    padding: 20px;
    margin: 20px 0px 0px 0px;
}

footer {
    background-color: rebeccapurple;
    font-size: 20px;
    color: white;
}
